// 实例运行状态颜色
$jobInit:#2FC7CA;
$jobWait:#eab537;
$jobReady:#7266ba;
$jobQueue:#ff7e00;
$jobExec:#25beb1;
$jobSuccess:#27c24c;
$jobFailed:#f05050;
$jobKilled:#ead737;
$jobTotal:#23b7e5;

// 全局颜色
$bgColor:#F3F1F1;
$pr:#20a0ff;
$se:#111f2a;
$success:#60cb70;
$orange: #ff7e00;
$blue:#3aaafc;
$lightBule:#3ac;
$red: #fe5140;
$fontColor: #656565;
$btnRed: #ea3d3d;
$deleteRed:#FE5140 ;
$textColor:#E6F2FA ;
$borderColor: #dcdcdc;
$border: #BBBBBB;
$white:#ffffff;
$black:#1f2d3d;
$borderPadding:24px;

// 默认样式
$borderRadius: 4px;
$lineHeight:30px;
$lineHeightSmall:1;

// 字体大小
$largeFont:24px;
$bigFont:18px;
$titleFont:16px;
$normalFont:14px;
$smallFont:12px;
$textFont:12px;


@mixin elBtn(){
  padding: 0 20px;
  line-height: $lineHeight;
  margin: 0 5px;
  font-size: $textFont;
}
@mixin raBtn($color,$borderColor,$backgroundColor) {
  padding: 7.5px 20px;
  margin: 0 5px;
  color:$color;
  font-size: 14px;
  border: 1px solid $borderColor;
  background-color: $backgroundColor;
  border-radius: $borderRadius;
  outline: none;
  cursor: pointer;
  &.first {
      margin-left: 0px;
  }
}
@mixin raSmallBtn($color,$borderColor,$backgroundColor) {
padding: 7.5px 12px;
margin: 0 5px;
color:$color;
font-size: 14px;
border: 1px solid $borderColor;
background-color: $backgroundColor;
border-radius: $borderRadius;
outline: none;
cursor: pointer;
&.first {
    margin-left: 0px;
}
}
@mixin raHover($color) {
  &:hover {
      border-color: $color;
      background-color:$color;
  }
}
@mixin raAllHover($color,$borderColor,$backgroundColor) {
&:hover {
    border-color: $borderColor;
    background-color:$backgroundColor;
    color:$color
}
}
@mixin raClear(){
&::after{
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  overflow: hidden;
}
}

// 帧动画
@mixin keyframes($animationName) {
@-webkit-keyframes #{$animationName} {
    @content;
}
@-moz-keyframes #{$animationName} {
   @content;
}
@-o-keyframes #{$animationName} {
   @content;
}
@keyframes #{$animationName} {
   @content;
}
}


// form表单样式
@mixin formItem($num){
width: ((20*$num)/100)*100%;
min-width:200px;
padding:10px;
font-size: $textFont;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
.label{
  line-height: $lineHeight;
  height: inherit;
  text-align: center;

}
.input{
  flex: 1;
  height: $lineHeight;
  >* {
    width: 100%;
  }
  &.input-error{
    input{
      border-color: $red;
      &:hover{
        border-color: $red;
      }
      &:focus{
        border-color: $red;
      }
    }
  }
}
}
